.mat-card-title {
    font-size: 36px;
}

.line {
    padding: 10px;
    display: flex;
    .mid {
        width: 50%;
    }
    .left {
        padding-right: 5px;
    }
    .right {
        padding-left: 5px
    }
    .full {
        width: 100%;
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}