@import '~@angular/material/theming';
@include mat-core();
$app-primary: mat-palette($mat-light-blue);
$app-accent: mat-palette($mat-amber);
$app-warn: mat-palette($mat-deep-orange);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);
$primary: mat-color($app-primary);
$primary-darker: mat-color($app-primary, darker);
$primary-lighter: mat-color($app-primary, lighter);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
* {
    font-family: 'Permanent Marker', cursive;
    body {
     background-color: $primary;
     margin: 0px;
     .mat-button-toggle {
         background-color: $primary;
         color: mat-color($app-primary, default-contrast);
     }
     .mat-button-toggle-checked {
         background-color: $accent;
         color: mat-color($app-accent, default-contrast);
     }
 }
}