img.description {
    margin: 8px;
    float: left;
}

img.thumb {
    width: 100px;
}

.mat-card-title {
    font-size: 36px;
}

.mat-card-header-text {
    width: 100%;
}

.mat-card-content {
    mat-icon {
        vertical-align: middle;
        padding-right: 5px;
    }
}

.search {
    width: 100%;
    .mat-form-field {
        font-size: 14px;
        width: 95%;
    }
}

table {
    width: 100%;
}

.img-responsive {
    min-width: 60px;
}

.edit {
    position: absolute;
    top: 20px;
    right: 20px;
}

div {
    margin-bottom: 10px;
}